$font-primary: 'Montserrat',
Arial,
sans-serif;
$font-secondary: 'Rokkitt',
Georgia,
serif;

// Overrides
$grid-gutter-width: 20px !default;
$border-radius-base: 4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #616161 !default;
$brand-secondary: #88c8bc !default;
$brand-yellow: #FFDD00 !default;
$brand-footer-color: #2C2E3E;

$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #e8e8e8;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #4c4a8a;
$brand-bg-color: $brand-white;

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.item-nav {
  padding-right: 20px;
}


.nav {
  padding-left: 96px;
  a {
    font-size: 25px;
    color: #2c3e50;
    font-family: $font-secondary;
    text-decoration: none;

    &.router-link-exact-active {
      color: #42b983;
    }

    @extend .item-nav;
  }
}

#logo {
  font-size: 40px;
  padding-top: 80px;
  padding-left: 80px;
  font-weight: 700;
  font-family: $font-primary;
  color: lighten($brand-black, 35%);
}

#searchbar {
  padding-right: 80px;
  padding-top: 50px;
}

#shopping-cart {
  padding-left: 580px;
}

.slogan {
   padding-left: 250px;
  font-size: 80px;
  color: #2c3e50;
  font-family: $font-secondary;
  text-decoration: none;
}

.home-page{
  margin: 0;
}
